
#book
  #top
  #front
  #right
  #bottom
  #shadow
  #bookmark
    %div
      %div
        %div
          %div
  #bookmark-shadow

#flip
  #front
    %div
      %div
        %div
          %div
            %div
              %div
                %div
                  %div
                    %div
                      %div

  #back
    %div
      %div
        %div
          %div
            %div
              %div
                %div
                  %div
                    %div
                      %div
                      
